## Data story: learning more about start-ups from the crunchbase sample
****
+ Studying the crunchbase database for patterns prior to further exploratory analysis 
****
+ data source: https://www.crunchbase.com/
****

In [131]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy as scp
import seaborn as sb
import plotly.plotly as py
import plotly as plotly
import plotly.figure_factory as ff
plotly.tools.set_credentials_file(username='lanaDS1225', api_key='ZhVhS6dhYrAbKFNyNOCV')

In [132]:
companies = pd.DataFrame.from_csv('companies.csv', index_col=None)

In [145]:
table = ff.create_table(companies[0:4])
py.iplot(table)

### 1. How many companies are in the database and what is the distrubution of companies across the globe?

In [134]:
companies['permalink'].count()

27327

In [135]:
countries = companies.country_code.dropna()
from collections import Counter
countries_dict = Counter(countries)
sorted_countries = sorted(countries_dict.items(), key = lambda x: x[1], reverse = True)
sorted_countries[0:14]

[('USA', 17053),
 ('GBR', 1629),
 ('CAN', 852),
 ('DEU', 622),
 ('FRA', 589),
 ('IND', 505),
 ('ISR', 457),
 ('ESP', 309),
 ('CHN', 299),
 ('SWE', 227),
 ('ITA', 202),
 ('AUS', 201),
 ('IRL', 193),
 ('NLD', 181)]

In [136]:
countries_df = pd.DataFrame.from_dict(sorted_countries[0:14])
countries_df.columns = ['country', 'company_count']

from plotly.graph_objs import *

data = [Bar(x=countries_df.country, y=countries_df.company_count)]

py.iplot(data)

### 2. How many companies are operating and how many have closed.

In [185]:
operating = companies[companies.status == 'operating'].permalink.count()
closed = companies[companies.status == 'closed'].permalink.count()
oper_closed_dict = {'operating':operating, 'closed': closed}
oper_closed_df = pd.DataFrame.from_dict(oper_closed_dict, orient = 'index')
sb.barplot(data = oper_closed_df)

### 3. Determine the ratio of operating to closed for each investor

In [151]:
## Step 1: need to merge companies and investments data
investments = pd.DataFrame.from_csv('investments.csv', index_col=None)

investments[0:4]
len(investments['company_permalink'])

C:\Users\Lana\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2821: DtypeWarning:

Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.

83893

In [152]:
investments = investments.rename(columns = {'company_permalink': 'permalink'})
companies_investments = pd.merge (companies, investments, on = 'permalink')

len(companies_investments['permalink'])

66849

In [153]:
companies_investments[companies_investments.permalink == '/company/8868']

,permalink,name,homepage_url,category_code,funding_total_usd,status,country_code,state_code,region,city,...,investor_state_code,investor_region,investor_city,funding_round_type,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd,id_y
0,/company/8868,8868,http://www.8868.cn,NaN,NaN,operating,NaN,NaN,unknown,NaN,...,NaN,unknown,NaN,series-a,12/1/2013,2013-12,2013-Q4,2013.0,NaN,3087