## Data story: learning more about start-ups from the crunchbase sample
****
+ Studying the crunchbase database for patterns prior to further exploratory analysis 
****
+ data source: https://www.crunchbase.com/
****

In [96]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy as scp
import seaborn as sb
import plotly.plotly as py
import plotly as plotly
plotly.tools.set_credentials_file(username='lanaDS1225', api_key='ZhVhS6dhYrAbKFNyNOCV')

In [4]:
companies = pd.DataFrame.from_csv('companies.csv', index_col=None)

In [5]:
companies.head(2)

,permalink,name,homepage_url,category_code,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at,last_milestone_at,id
0,/company/8868,8868,http://www.8868.cn,NaN,NaN,operating,NaN,NaN,unknown,NaN,1,NaN,NaN,NaN,NaN,12/1/2013,12/1/2013,NaN,1
1,/company/21e6,2.10E+07,NaN,NaN,5050000.0,operating,USA,CA,SF Bay,San Francisco,1,1/1/2013,2013-01,2013-Q1,2013.0,11/17/2013,11/17/2013,NaN,2

+ How many companies are in the database and what is the distrubution of companies across the globe?

In [6]:
companies['permalink'].count()

27327

In [46]:
countries = companies.country_code.dropna()
from collections import Counter
countries_dict = Counter(countries)
sorted_countries = sorted(countries_dict.items(), key = lambda x: x[1], reverse = True)
sorted_countries[0:14]

[('USA', 17053),
 ('GBR', 1629),
 ('CAN', 852),
 ('DEU', 622),
 ('FRA', 589),
 ('IND', 505),
 ('ISR', 457),
 ('ESP', 309),
 ('CHN', 299),
 ('SWE', 227),
 ('ITA', 202),
 ('AUS', 201),
 ('IRL', 193),
 ('NLD', 181)]

In [104]:
countries_df = pd.DataFrame.from_dict(sorted_countries[0:14])
countries_df.columns = ['country', 'company_count']

from plotly.graph_objs import *

data = [Bar(x=countries_df.country, y=countries_df.company_count)]

py.iplot(data)

+ How many companies on the list are operating and how many have closed. Determine the ration of operating to closed for each investor